.tag{
    background-color:transparent;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
}
.stats{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
}
select{
    background-color: transparent;
    border: none;
    color:white;
    background-color: black;
}