.middleDAsh{
     margin-left: 50px;
     color: white;
}
.dashText{
 text-transform: capitalize;  
font-family: Inter;
font-size: 28px;
font-weight: 700;
line-height: 36px;
text-align: left;
}
.navBar{
      display:flex;
      justify-content: space-between;
       width: 900px;
     position: relative;
     right: 40px;
     padding: 30px;
}
.date{
     font-family: Inter;
     font-size:1.5rem;
     font-weight: 400;
     line-height: 18px;
     text-align: left;
     text-transform: capitalize;
}
.profilecont{
   display: flex;  
   justify-content: space-between;
   align-items: center;
}
.nextedNav{
     display: flex;  
     justify-content: space-between;
}
.spn , spn2{
     display: block;
}
.searchConatiner{
     display: flex;  
     justify-content: space-between;
     align-items: center;
     padding: 20px;
}
input{
      background-color: transparent;
      outline: none;
      padding: 10px;
      position: relative;
      border-radius: 20px;
}
.searchIcon{
      position: relative;
      right: 35px;
}
.navIcons{
     padding: 10px;
     background-color: rgb(63, 63, 63);
     margin: 10px;
     border-radius: 15px;
}
.userName{
     padding: 10px;
}